<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="commons">
    <Properties>
        <Property name="pattern">[%d{dd-MM-yyyy HH:mm:ss.SSS} %level %logger{36}] - %msg%n</Property>
    </Properties>

    <Appenders>

        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>

        <!-- File theo CLASS -->
        <RollingFile
                name="TestLogFile"
                fileName="target/logs/test-execution.log"
                filePattern="target/logs/test-execution-%i.log">

            <PatternLayout pattern="${pattern}" />

            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>

        </RollingFile>

    </Appenders>


    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TestLogFile"/>
        </Root>
    </Loggers>

</Configuration>